body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(gray 50%, white);
    height: 100vh;
    color: white;
}
ul{
    list-style-type: none;
    list-style-position: inside;
    background-color: gray;
}
ul li{
    padding: 6px;
    color: white;
}
 li::before {
    content: "♥"; 
    padding-right: 4px;
    font-size: 28px;
    color: red;
    margin-right: 0.5em;
  }